#!/usr/bin/env bash
set +x # hide secret env values from output

if [[ "true" == "$CI" ]]; then
  if ! type op &>/dev/null; then
    echo "CI=$CI"
    echo "op: command not found"
    set -x
    exit 0
  fi
fi

set +x # hide secret env values from output

TF_VAR_aws_org_id=$(op read "op://Private/1pcli-aws-org1/org_id")
export TF_VAR_aws_org_id
TF_VAR_aws_ou_id_security=$(op read "op://Private/1pcli-aws-org1/ou_id_security")
export TF_VAR_aws_ou_id_security
TF_VAR_aws_ou_id_sandbox=$(op read "op://Private/1pcli-aws-org1/ou_id_sandbox")
export TF_VAR_aws_ou_id_sandbox

AWS_ACCESS_KEY_ID=$(op read "op://Private/1pcli-aws-org1/aws temp credentials/AWS_ACCESS_KEY_ID")
export AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=$(op read "op://Private/1pcli-aws-org1/aws temp credentials/AWS_SECRET_ACCESS_KEY")
export AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=$(op read "op://Private/1pcli-aws-org1/aws temp credentials/AWS_SESSION_TOKEN")
export AWS_SESSION_TOKEN

# reduce parallelism
PARALLELISM_ARG="-parallelism=5"
TF_CLI_ARGS_plan="$PARALLELISM_ARG"
export TF_CLI_ARGS_plan
TF_CLI_ARGS_apply="$PARALLELISM_ARG"
export TF_CLI_ARGS_apply
