#!/usr/bin/env bash
set +x # hide secret env values from output

if [[ "true" == "$CI" ]]; then
  if ! type op &>/dev/null; then
    echo "CI=$CI"
    echo "op: command not found"
    set -x
    exit 0
  fi
fi

set +x # hide secret env values from output

# reduce parallelism
PARALLELISM_ARG="-parallelism=5"
TF_CLI_ARGS_plan="$PARALLELISM_ARG"
export TF_CLI_ARGS_plan
TF_CLI_ARGS_apply="$PARALLELISM_ARG"
export TF_CLI_ARGS_apply
