#!/usr/bin/env bash
set +x # hide secret env values from output

if [[ "true" == "$CI" ]]; then
  if ! type op &>/dev/null; then
    echo "CI=$CI"
    echo "op: command not found"
    set -x
    exit 0
  fi
fi

set +x # hide secret env values from output

TF_VAR_aws_org_id=$(op read "op://Private/1pcli-aws-org1/org_id")
export TF_VAR_aws_org_id
TF_VAR_aws_ou_id_security=$(op read "op://Private/1pcli-aws-org1/ou_id_security")
export TF_VAR_aws_ou_id_security
TF_VAR_aws_ou_id_sandbox=$(op read "op://Private/1pcli-aws-org1/ou_id_sandbox")
export TF_VAR_aws_ou_id_sandbox
TF_VAR_aws_ou_id_quarantine=$(op read "op://Private/1pcli-aws-org1/ou_id_quarantine")
export TF_VAR_aws_ou_id_quarantine
TF_VAR_aws_ou_id_deployment=$(op read "op://Private/1pcli-aws-org1/ou_id_deployment")
export TF_VAR_aws_ou_id_deployment
TF_VAR_aws_AISERVICES_OPT_OUT_POLICY=$(op read "op://Private/1pcli-aws-org1/AISERVICES_OPT_OUT_POLICY")
export TF_VAR_aws_AISERVICES_OPT_OUT_POLICY
TF_VAR_aws_CHATBOT_POLICY=$(op read "op://Private/1pcli-aws-org1/CHATBOT_POLICY")
export TF_VAR_aws_CHATBOT_POLICY
TF_VAR_aws_EC2_IMDSv2_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_IMDSv2_POLICY")
export TF_VAR_aws_EC2_IMDSv2_POLICY
TF_VAR_aws_EC2_NoIngressVPC_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_NoIngressVPC_POLICY")
export TF_VAR_aws_EC2_NoIngressVPC_POLICY
TF_VAR_aws_EC2_NoMarketplaceAMI_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_NoMarketplaceAMI_POLICY")
export TF_VAR_aws_EC2_NoMarketplaceAMI_POLICY
TF_VAR_aws_EC2_NoPublicSharingAMI_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_NoPublicSharingAMI_POLICY")
export TF_VAR_aws_EC2_NoPublicSharingAMI_POLICY
TF_VAR_aws_EC2_NoPublicSharingSnapshot_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_NoPublicSharingSnapshot_POLICY")
export TF_VAR_aws_EC2_NoPublicSharingSnapshot_POLICY
TF_VAR_aws_EC2_NoSerial_POLICY=$(op read "op://Private/1pcli-aws-org1/EC2_NoSerial_POLICY")
export TF_VAR_aws_EC2_NoSerial_POLICY
TF_VAR_aws_S3_POLICY=$(op read "op://Private/1pcli-aws-org1/S3_POLICY")
export TF_VAR_aws_S3_POLICY
TF_VAR_aws_SCP_OnlyOrgIdentityCenter_POLICY=$(op read "op://Private/1pcli-aws-org1/SCP_OnlyOrgIdentityCenter_POLICY")
export TF_VAR_aws_SCP_OnlyOrgIdentityCenter_POLICY
TF_VAR_aws_SCP_QuarantineDenyAll_POLICY=$(op read "op://Private/1pcli-aws-org1/SCP_QuarantineDenyAll_POLICY")
export TF_VAR_aws_SCP_QuarantineDenyAll_POLICY
TF_VAR_aws_TAG_iacdeployerEnumValues_POLICY=$(op read "op://Private/1pcli-aws-org1/TAG_iacdeployerEnumValues_POLICY")
export TF_VAR_aws_TAG_iacdeployerEnumValues_POLICY
TF_VAR_aws_account_id_management=$(op read "op://Private/1pcli-aws-org1/account_id_management")
export TF_VAR_aws_account_id_management
TF_VAR_aws_account_id_security_aggregator=$(op read "op://Private/1pcli-aws-org1/account_id_security_aggregator")
export TF_VAR_aws_account_id_security_aggregator
TF_VAR_aws_email_security_aggregator=$(op read "op://Private/1pcli-aws-org1/email_security_aggregator")
export TF_VAR_aws_email_security_aggregator
TF_VAR_aws_account_id_security_cloudtrail=$(op read "op://Private/1pcli-aws-org1/account_id_security_cloudtrail")
export TF_VAR_aws_account_id_security_cloudtrail
TF_VAR_aws_email_security_cloudtrail=$(op read "op://Private/1pcli-aws-org1/email_security_cloudtrail")
export TF_VAR_aws_email_security_cloudtrail
TF_VAR_aws_controltower_landingzone_id=$(op read "op://Private/1pcli-aws-org1/controltower_landingzone_id")
export TF_VAR_aws_controltower_landingzone_id
TF_VAR_aws_account_id_sandbox_bedrock=$(op read "op://Private/1pcli-aws-org1/aws_account_id_sandbox_bedrock")
export TF_VAR_aws_account_id_sandbox_bedrock
TF_VAR_aws_email_sandbox_bedrock=$(op read "op://Private/1pcli-aws-org1/email_sandbox_bedrock")
export TF_VAR_aws_email_sandbox_bedrock
TF_VAR_aws_account_id_deployment_prod_builds=$(op read "op://Private/1pcli-aws-org1/aws_account_id_deployment_prod_builds")
export TF_VAR_aws_account_id_deployment_prod_builds
TF_VAR_aws_email_deployment_prod_builds=$(op read "op://Private/1pcli-aws-org1/email_deployment_prod_builds")
export TF_VAR_aws_email_deployment_prod_builds

# reduce parallelism
PARALLELISM_ARG="-parallelism=5"
TF_CLI_ARGS_plan="$PARALLELISM_ARG"
export TF_CLI_ARGS_plan
TF_CLI_ARGS_apply="$PARALLELISM_ARG"
export TF_CLI_ARGS_apply
