#!/usr/bin/env bash
set +x # hide secret env values from output

TF_VAR_workspace=cachedependencies
export TF_VAR_workspace

# renovate: datasource=github-releases depName=hashicorp/terraform packageName=hashicorp/terraform
TERRAFORM_VERSION=v1.16.4
export TERRAFORM_VERSION
TF_VAR_cached_terraform_version=$TERRAFORM_VERSION
export TF_VAR_cached_terraform_version
