#!/usr/bin/env bash
set +x # hide secret env values from output

echo "CI=$CI"
if type op &>/dev/null; then

  set +x # hide secret env values from output

  TF_VAR_codeconnection_deployment_builds=$(op read "op://Private/1pcli-aws-org1/codeconnection_deployment_builds")
  export TF_VAR_codeconnection_deployment_builds

else
  echo "op: command not found"
fi

TF_VAR_workspace=pipelinecommon
export TF_VAR_workspace
