#!/usr/bin/env bash
set +x # hide secret env values from output

echo "CI=$CI"
if type op &>/dev/null; then

  set +x # hide secret env values from output

  TF_VAR_slack_team_name=$(op read "op://Private/1pcli-aws-org1/slack_team_name")
  export TF_VAR_slack_team_name

else
  echo "op: command not found"
fi

TF_VAR_workspace=chatbotcommon
export TF_VAR_workspace
