#!/usr/bin/env bash
set +x # hide secret env values from output

echo "CI=$CI"
if type op &>/dev/null; then

  set +x # hide secret env values from output

  TF_VAR_aws_account_id=$(op read "op://Private/1pcli-aws-org1/account_id_security_cloudtrail")
  export TF_VAR_aws_account_id

  AWS_ACCESS_KEY_ID=$(op read "op://Private/1pcli-aws-org1-security_cloudtrail/awstempcredentials/AWS_ACCESS_KEY_ID")
  export AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY=$(op read "op://Private/1pcli-aws-org1-security_cloudtrail/awstempcredentials/AWS_SECRET_ACCESS_KEY")
  export AWS_SECRET_ACCESS_KEY
  AWS_SESSION_TOKEN=$(op read "op://Private/1pcli-aws-org1-security_cloudtrail/awstempcredentials/AWS_SESSION_TOKEN")
  export AWS_SESSION_TOKEN

else
  echo "op: command not found"
fi
